body {
  margin : 0;
  padding : 0;
}

a { color : #fff; }

span#time {
  font-family: monospace;
  font-size : 24px;
  left : 20px;
  bottom : 20px;
  color : white;
  position: absolute;
  padding : 5px;
  background-color: #000;   opacity: 0.5;
  z-index:9999;
  cursor:pointer;
}

h2 {
  left : 20px;
  color : #fff;
  position: absolute;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  font-size : 15pt;
  z-index:9999;
  opacity: 0.5;
}

h2#dig {
	top : 26px;
	font-size : 10pt;
}


div#jungle {
  /* Change depending on time of day */
  background-color : #000;
  box-shadow: inset 0 0 200px #777;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
}

div.creature {
  position: absolute;
}

div.creature, div.creature img, div.creature svg, div.creature canvas {  
  /* hardware accelration hinting */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -khtml-transform: translateZ(0);
}

div.droplet1 {
  background-image: url(../images/droplet1.png);
  background-size : 30px 30px;
  width : 30px;
  height : 30px;
}

div.droplet2 {
  background-image: url(../images/droplet2.png);
  background-size : 30px 30px;
  width : 30px;
  height : 30px;
}
