body {
  margin : 0;
  padding : 0;

  /* Change depending on time of day */
  background-color : #000;
  box-shadow: inset 0 0 200px #777;
}

div#jungle {
  height : 500px;
}

span.droplet0 {
  background-image: url(../images/droplet1.png);
  background-size : 10px 10px;
  width : 50px;
  height : 50px;
  background-color: red;
}

span.droplet1 {
  background-image: url(../images/droplet2.png);
  background-size : 10px 10px;
}

span.droplet2 {
  background-image: url(../images/droplet1.png);
  background-size : 5px 5px;
}

span.droplet3 {
  background-image: url(../images/droplet2.png);
  background-size : 5px 5px;
}